*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #212121;
}

.container{
    position: relative;
}

.clock{
    background-color: rgba(255, 255, 255, 0.1);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
}

.hand{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hand i{
    background-color: var(--color);
    height: var(--h);
    width: 4px;
    position: absolute;
    border-radius: 8px;
}